body {background-color: #faf2e4;
    margin: 0 10%;
    font-family: sans-serif;}
h1 {text-align: center;
    font-family:"Nerko+One" ;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 1px solid #57b1dc;
    margin-top: 30px;}
h2 {color: #d1633c;
    font-size: 1em;
    text-align: center}
p{font-style: italic;
    text-align: center;
    color: rgb(65, 65, 65);}
footer {border-top: 1px solid #57b1dc;
    text-align: center;
    padding-top: 1em;}
footer img {width: 40px;
    height: 40px;
    margin-left: 0.5em;
    margin-right: 0.5em;}
dt{font-weight: bold;
    color: sienna;}
strong{font-style: italic;
    color: tomato;}
dt strong{color: tomato;}
.price{font-family: Georgia, serif; 
    font-style: italic;
    color: gray;}
.label{font-weight: bold;
    font-variant: small-caps;
    font-style: normal;}
p.warning, sup{font-size: small;
    color: red;}
dt{font-weight: bold;
    color: sienna;}
strong{font-style: italic;
    color: tomato;}
dt strong{color: tomato;}

.price{font-family: Georgia, serif; 
    font-style: italic;
    color: gray;}
.label{font-weight: bold;
    font-variant: small-caps;
    font-style: normal;}
p.warning, sup{font-size: small;
    color: red;}
h2 + p{text-align: center;
    font-style: italic;}
a:link {color:#1eb2f7e3;
  text-decoration: none}
a:visited {  color:#180e0e;}
a:focus {color:#7a7a5f;
  background-color: #cdcdcd;}
a:hover {color:#7a7a5f;
    background-color: #cdcdcd;}
a:active {color:#181818;}